---
interface Bloque { etiqueta: string; titulo: string; descripcion: string; }
interface Props {
  mision: Bloque;
  vision: Bloque;
}

const { mision, vision } = Astro.props;
---

<div class="py-20 lg:py-40 bg-[#050506] relative z-[1]">
  <div class="container js-scroll-activate">
    <div class="lg:flex justify-between gap-28 items-center">
      <div class="w-full lg:w-[47%] pt-10 lg:pt-0">
        <p class="sub-title">[{mision.etiqueta}]</p>
        <h3 class="section-title section-title--mobile mt-6">{mision.titulo}</h3>
        <p class="mt-5 lg:mt-10 text-balance">{mision.descripcion}</p>
      </div>
      <img src="/theme/uploads/ai-robotics/centro-datos.jpg" alt="" class="w-full lg:w-[53%] aspect-square object-cover mt-10 lg:mt-0" />
    </div>
  </div>
</div>

<div class="py-20 lg:py-40 bg-[#050506] relative z-[1]">
  <div class="container js-scroll-activate">
    <div class="lg:flex justify-between gap-28 items-center flex-row-reverse">
      <div class="w-full lg:w-[47%] pt-10 lg:pt-0">
        <p class="sub-title">[{vision.etiqueta}]</p>
        <h3 class="section-title section-title--mobile mt-6">{vision.titulo}</h3>
        <p class="mt-5 lg:mt-10 text-balance">{vision.descripcion}</p>
      </div>
      <img src="/theme/uploads/ai-robotics/ciudad-noche.jpg" alt="" class="w-full lg:w-[53%] aspect-square object-cover mt-10 lg:mt-0" />
    </div>
  </div>
</div>
