---
interface Props {
  etiqueta: string;
  titulo: string;
  descripcion: string;
  ctaPrimario: { etiqueta: string; ruta: string };
  ctaSecundario?: { etiqueta: string; ruta: string };
  imagen?: string;
}

const { etiqueta, titulo, descripcion, ctaPrimario, ctaSecundario } = Astro.props;
---

<div class="bg-cloud py-12 lg:pt-20 lg:pb-20 text-black relative z-[3]">
  <div class="container flex flex-wrap justify-between items-center js-scroll-activate">
    <div class="lg:w-1/2">
      <p class="sub-title sub-title--black">[{etiqueta}]</p>
      <h3 class="section-title mt-6 lg:mt-10 text-balance">{titulo}</h3>
      <p class="mt-5 max-w-[600px]">{descripcion}</p>
    </div>
    <div class="flex flex-wrap gap-4 mt-8 lg:mt-0">
      <a href={ctaPrimario.ruta} class="button button--white">{ctaPrimario.etiqueta.toUpperCase()}</a>
      {ctaSecundario && (
        <a href={ctaSecundario.ruta} class="button button--white">{ctaSecundario.etiqueta.toUpperCase()}</a>
      )}
    </div>
  </div>
</div>
